/* reset */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* fim reset */
/* background */
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;

    background-image: linear-gradient(#0000ff, #d000f9)
}

/* fim background */
/* titulo */
.titulo {
    font: 1000 40px Arial;
    color: #fff;

    padding-bottom: 15px;
}

/* fim titulo */
/* txt */
.txt {
    font: 600 20px Arial;
    color: #fff;
}

/* fim txt */
/* botao */
.sorteador {
    font: 800 25px Arial;
    color: #fff;

    width: 500px;
    height: 50px;

    background-color: #25c025;

    border-radius: 8px;
    margin: 30px 10px 0px 10px;

    align-items: center;
    justify-content: center;

    transition: 200ms;
    
}

.sorteador:hover {
    transform: scale(1.2);

    background-color: #24e133;
}

/* fim botao */
/* forms */
.forms {
    width: 400px;
    height: 50px;

    margin: 10px;

    border-radius: 8px;
    background: none;
    border: 2px solid #fff;

    font: 800 20px Arial;

    color: #ffffff;
    text-align: center;
}

/* fim forms */
/* caixa */
.container {
    display: flex;

    padding: 10px;

    border-radius: 15px;

    width: 1000px;
    height: 500px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* fim caixa */
/* valores */
.entradas {
    display: flex;

    justify-content: space-around;
}

.entrada {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* fim valores */
/* resultado */
#resultado {
    padding: 20px;
    font: 800 30px Arial;
}

/* fim resultado */

/* NOMES */
/* textarea */
.formulario {
    display: flex;

    justify-content: space-around;
    align-items: center;
}

#entradaNomes {
    height: 200px;
    width: 375px;
    
}
/* fim textarea */
/* botao limpar */
.clear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #bb1e1e;

    width: 75px;
    height: 75px;
    border-radius: 10px;

    transition: 200ms;
    margin: 20px;
}

.clear:hover {
    transform: scale(1.2);

    background-color: #e73131;
}
/* fim botao limpar */
/* resultado */
#result {
    padding: 20px;
    font: 800 30px Arial;

    color: #fff;
}
/* fim resultado */
/* FIM NOMES */